
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 user-select: none;
}


.container {

    display: flex;
    align-items: center;
}
.div1 {
  
    width: 200px;
    height: 50px;
    color: #444444;
    margin-right: 215px;
}

.div2 {
    position: relative;
    width: 200px;
    height: 50px;
    color: #882a2a;
    top: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    margin-right: 215px;
}


.div3 {
    position: relative;
    width: 200px;
    height: 50px;
    color: #2a5b88;
    top: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    margin-right: 215px;
}